.App {
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.count {
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 44px;
  font-weight: bold;
}

span {
  font-size: 10px;
}

.hor, .min, .sec {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  width: 70px;
}

.App-container {
  width: 410px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 25vh auto;
  position: relative;
}

.box {
  width: 400px;
  background: linear-gradient(125deg, rgba(30,133,200,1) 0%, rgba(31,195,222,1) 43%, rgba(34,186,198,1) 67%, rgba(0,255,188,1) 100%);  color: white;
}

.delete {
  top: 0;
  position: absolute;
  right: -4px;
}
